@charset "UTF-8";

				 

.genreproducts{ display: flex;   flex-wrap: wrap;      /* flex-start;    */ width:100%; height:100%; margin-left:55px;}

.genreitem{ margin: 5px 5px; width:200px; height:300px; display: flex; border-radius: 20px;}

.genreitem:hover {transform : translateY(-20px); transition-duration: 0.5s; transition-delay: 0.3s;}

.genreitem img{width:200px; height:300px; border-radius: 20px;}



