@charset "EUC-KR";

body {
	color: white;
	background-color: black;
	justify-content: center;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction:column;
	align-items: center;
	height: 100vh;
	text-align: center;
	font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Roboto",
		Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue,
		sans-serif ";
}

.logo {
	top: 20px;
	margin-left: 20px;
	font-size: 40px;
	font-weight: bold;
	background-color: black;
	border: 1px;
	 font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Roboto", Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

.box {
	margin: 0;
	padding: 0;
	background-color: black;
	display: flex;
	width: 100%;
	height: 90px;
	height: 90px;
	position: absolute; /* Add this line */
	top: 0; /* Add this line */
	left: 0;
	position: absolute; /* Add this line */
	top: 0; /* Add this line */
	left: 0;
}

.box1 {
	display: flex;
	justify-content: flex-start;
	align-items: center; /* Center vertically */
	flex-direction: row;
	flex: 1;
		color: gray; /* Make text visible on gray background */
	font-size: 120%;
}

.box2 {
	display: flex;
	justify-content: flex-end;
	align-items: center; /* Center vertically */
	flex: 1;
}

.box2-1 { line-height:5px; display:flex; }

.box1-1, .box1-2, .box1-3 {
	margin: 0 10px; /* Add some margin between items */
	font-size: 120%;
}

.box1-2, .box1-3 {
	color: gray; /* Make text visible on gray background */
	font-size: 110%;
}

.box22 {
	margin: 0;
	padding: 0;
	background-color: #191919;
	display: flex;
	width: 100%;
	height: 350px;
	position: absolute; /* Add this line */
	top: 9%; /* Add this line */
	left: 0;
	align-items: center;
	font-weight: bold;
}

.box33 {
	margin: 0;
	padding: 0;
	background-color: #2e2e2e;
	display: flex;
	width: 100%;
	height: 80px;
	position: absolute; /* Add this line */
	top: 45%; /* Add this line */
	left: 0;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-weight: bold;
}

.box22-1, .box22-2 {
	margin-left: 20px; /* Align to the left with some margin */
	font-size: 130%;
	
}

#input input{font-size:150%; background:black; color:white; width: 300px; right: 5px; border: 1px solid gray;}

.box22-3 {
	margin-right: 20px; /* Align to the right with some margin */
	margin-left: auto; /* Push to the right */
	cursor: pointer;
}

.box33-1 {
	color: white;
	font-style: bold;
	font-size: 110%;
}

a {
	
	font-size: 120%;
	font-weight: bold;
	text-decoration: none;
}

.box44 {
	margin: 0;
	padding: 0;
	background-color: black;
	display: flex; /* Use flex to align items in a row */
	width: 100%;
	height: 80px;
	position: absolute;
	top: 55%; /* Adjust this to place .box44 where needed */
	left: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center; /* Center vertically */
	flex-direction: row;
	flex: 1;
	border-bottom: 1px solid gray;
}

.passTicketandcash{
	display:flex;
	width:100%;
	margin-top: 120px;
	position: absolute;
	justify-content: space-between;
}

.paymentTable{
	margin-top: 150px;
	margin-left: -940px;
	width: 100%;
	position: absolute;
    border: 1px solid white;
}

.paymentTable table{
	width: 100%; /* 테이블 너비를 100%로 설정 */
}

.paymentTable table tr{
	color: white;
	display: flex;
}

.paymentTable table td{
	color: white;
	border-bottom: 1px solid gray;
	padding: 15px;
}

.paymentTable th, .paymentTable td {
       width: 100%;
       padding: 8px; 
}

.paymentTable th {
      background-color: gray;
      color: white;
}
.paymentTable tr {
      display: flex;
      width: 100%;
}

 .paymentTable tr > * {
            flex: 1;
}

.updateDefuseTable tr{
	display:flex;
	justify-content: space-between;
}

.updateDefuseTable th{
	text-align: center;
	margin: 0 auto;
}

.updateDefuseTable td{
	color:gray;
	margin-top: 5px;
	padding: 10px;
}

.box44-1, .box44-2, .box44-3, .box44-4 {
	margin: 0 10px;
	font-size: 120%;
	color: gray;
	font-weight: bold;
	cursor: pointer;
	
}
.img{
		margin-top: 20px; 
}
.ticket{
		color:white;
		font-size: 80%;
		border: 1px solid gray;
		border-radius: 3px;
		padding:3px;
		text-decoration-line: none;
}

#Category a{ color:white; text-decoration-line:none; font-size:100%;}

/* .box2-1 {background-color:white; border-radius: 3px; display:flex; width:40px; height:40px;   margin-bottom:5px;} */

.profileclick {display:none; position:absolute; top: 52px;  width: 200px; height:150px; 
		border:1px solid white;  right:55px; text-align:center; background-color : #282828; z-index:9;}

.profileclick div a{ color:white; text-decoration-line:none; font-size:100%; }


.poiu {display:flex; width:100%; height:100%; flex-direction:column; z-index:3; }
.fdsa {display:flex; width:100%; }
#hahaha{display:flex; width:100%; margin-left:10px; /* flex-wrap:wrap; */}
#ssteamed { display:flex; width:200px; height:300px; margin-left:5px; margin-bottom:5px; border-radius: 20px;}
#ssteamed:hover {transform : translateY(-20px); transition-duration: 0.5s; transition-delay: 0.3s; }
#ssteamed a img {display:flex; width:200px; height:300px; border-radius: 20px;}
