@charset "UTF-8";

a{
	text-decoration: none;
	/* font-family: 'Times New Roman'; */
}

section{
	width: 100%;
	display:flex;
	flex-direction:column;
}

section article{
	width: 100%;
	/* border: 1px solid white; */
	display:flex;
	flex-direction:column;
}

section article .search{
	background-color: gray;
	padding: 70px;
	display:flex;
	justify-content: center;
	align-items: center;
	opacity: 0.25;
	flex-direction: column;
}

section article .search .qes1 input{
	color: white;
	font-weight: bold;
	
}

section article .form-layout{
	display:flex;
	width: 100%;
}

section article .search input::placeholder{
	color:white;
	font-size:120%;
	
}


section article .search .qes1 input{
	background-color: gray;
	padding : 20px;
	width: 500px;
	border-top: none;
	border-left: none;
	border-bottom: 3px solid white;
}

.qes2 span{
	color: white;
	/* opacity: 1.5; */
}

section article .search input placeholder{
	color : white;
	font-size: 80%;
}

section article .costitle{
	color:white;
	font-weight: bold;
	font-size: 150%;
	margin-top: 30px;
}

section article .cosmenu_wrapper{
	display:flex;
	border-bottom: 1px solid gray;
	margin-bottom: 30px;
	margin-left: 50px;
}

section article .detail_size{
	padding: 60px;
}

section article .detail_page table{
	display:flex;
	width: 100%;
	flex-direction: column;	
}

section article .detail_page table tr{
	display:flex;
	justify-content: space-between;
}

section article .detail_page table td{
	border-bottom: 1px solid gray;
	color: gray;
	padding: 23px;	
	font-weight: bold;
	width: 100%;
}


section article .cosmenu{
	color:gray;
	padding: 20px;
	font-size: 120%;
}

section article table .fnq-trow{
	display: flex;
	border-bottom: 1px solid gray;
	justify-content:space-between;
}

section article table .fnq-tcol2{
	color: white;
	
}


section article .notice_table{
	width: 100%;
}

section article .notice_table table{
	margin-left: 30px;
	display:flex;
	flex-direction:column;
}

section article .notice_table table .trow{
	border: 1px solid white;
	display:flex;
	justify-content: space-around;
	background-color: gray;
	width: 97%;
}

section article .notice_table table .trow_title{
	margin-left: 13px;
}

section article .defuse{
	padding: 150px;
}

section article .policy_container{
	margin-left: 50px;
}

section article input{
	width: 200px;
}

section article .policy_wrapper span{
}

.inquiryCategory {
	display:flex;
}

.inquiryCategory a{
	color: gray;
	font-weight: bold;
	font-size: 120%;
	padding: 30px;
}
.form-box1-presemi{
	display: flex;
	/* flex-direction: column; */
}

.form-box-semi1{
	/* display:flex; */
	float:left;
	width: 10%;
}

.form-box1.presemi h4{
	color: white;
	margin-left: 20px;
}

.form-box-semi1 h4{
	color: white;
	margin-left: 20px;
	font-size: 150%;
}

.form-box-semi2{
	float: left;
	
}

.form-box-semi2 h4{
	color : white;
}



.notice_row{
	 border-bottom: 1px dotted gray;
	 display:flex;
	 justify-content: space-between;
	 padding: 5px;
}

.notice_col{
	color: white;
}


.form-box1{
	display: flex;
}

tr{
	display: flex;
}

th{
	color: white;
	padding: 30px;
	
}

.notice_table .notice_row{
	width:95.5%;
}

.notice_table .notice_row .notice_col{
	width:100%;
	padding: 10px;
	margin-left: 215px;
}

p{
	color: white;
	font-size: 90%;
}

/* .form-box1 h4{
	color: white;
	font-size: 110%;
}
 */
.inquiryClassForm{
	display:flex;
	flex-direction: column;
	margin-left: 80px;
	width: 100%;
}

.inquiryClassForm span{
	color: white;
	opacity: 0.8;
}

.inquiryClassForm label{
	color: white;
	opacity: 0.8;
}

.rd{
	margin:0 auto;
	width: 3%;
}

.enviro{
	width: 3%;
}

.buttons{
	margin: 0 auto;
	height: 60px;
	font-size: 110%;
}

span{
	color:white;
	font-size: 120%;

}

.bott-box p {
    color: white;
}

label{
	color:white;
	font-size: 120%;
}

.field{
	/* border-top: 1px solid white; */
	border-bottom: 1px solid gray;
	padding: 15px;
	display:flex;
	/* justify-content: center; */
	align-items: center;
}

.field select{
	background-color: black;
	padding: 10px;
	color:gray;
}



.field input{
	background-color: gray;
	padding : 10px;
    opacity: 0.5;
	color: white;
	font-weight: bold;
}

.field input::placeholder{
	color: white;
}

.field textarea{
	background-color: gray;
	padding : 10px;
    opacity: 0.5;
	color: white;
	font-weight: bold;
}

.field textarea::placeholder{
	color:white;
}

.field label{
	font-size: 110%;
}


.topic_menu{
	background-color:gray;
	opacity:0.5;
}
.question{
	font-weight: bold;
	text-align:center;
}

.rdo{
	color: white;
}

.field h5{
	color:white;
	font-size: 90%;
}

.defuse{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.defuse .defuse-title{
	display:flex;
	flex-direction:column;
}

.defuse .defuse-title img{
	margin: 0 auto;
}

.defuse .defuse-title h1{
	color: white;
	font-weight: bold;
	font-size: 200%;
}

.defuse .defuse-title p{
	color: gray;
	font-size: 130%;
}

.defuse .defuse-bottom input{
	margin-top: 40px;
	width: 300px;
	padding: 30px;
}




.detail-button{
	display:flex;
	justify-content: center;
	align-items: center;
}

.detail-button input{
	width: 80px;
	height: 50px;
}


.rowpage{
	display:flex;
}

.colpage{
	display:flex;
	padding: 15px;
}

.faq-content{
	padding: 30px;
	justify-content: center;
	align-items: center;
}

.faq-tcol, .faq-content-tcol{
	padding: 10px;
	font-weight: bold;
}

.faq-tcol{
	color:white;
	font-size: 110%;
}

.faq-content-tcol{
	color: gray;
	margin: 0 auto;
}




