@charset "EUC-KR";



.box22 {
	margin: 0;
	padding: 0;
	background-color: #191919;
	display: flex;
	width: 100%;
	height: 350px;
	position: absolute; /* Add this line */
	top: 9%; /* Add this line */
	left: 0;
	align-items: center;
	font-weight: bold;
}

.box33 {
	margin: 0;
	padding: 0;
	background-color: #2e2e2e;
	display: flex;
	width: 100%;
	height: 80px;
	position: absolute; /* Add this line */
	top: 45%; /* Add this line */
	left: 0;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-weight: bold;
}

.box22-1, .box22-2 {
	margin-left: 20px; /* Align to the left with some margin */
	font-size: 130%;

}



.box22-3 {
	margin-right: 20px; /* Align to the right with some margin */
	margin-left: auto; /* Push to the right */
	cursor: pointer;
}

.box33-1 {
	color: white;
	font-style: bold;
	font-size: 110%;
}

a {

	font-size: 120%;
	font-weight: bold;
	text-decoration: none;
}

.box44 {
	margin: 0;
	padding: 0;
	background-color: black;
	display: flex; /* Use flex to align items in a row */
	width: 100%;
	height: 80px;
	position: absolute;
	top: 55%; /* Adjust this to place .box44 where needed */
	left: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center; /* Center vertically */
	flex-direction: row;
	flex: 1;
	border-bottom: 1px solid gray;
}

.passTicketandcash{
	display:flex;
	width:100%;
	margin-top: 120px;
	position: absolute;
	justify-content: space-between;
}

.paymentTable{
	margin-top: 150px;
	margin-left: -940px;
	width: 100%;
	position: absolute;
	border: 1px solid white;
}

.paymentTable table{
	width: 100%; /* 테이블 너비를 100%로 설정 */
}

.paymentTable table tr{
	color: white;
	display: flex;
}

.paymentTable table td{
	color: white;
	border-bottom: 1px solid gray;
	padding: 15px;
}

.paymentTable th, .paymentTable td {
	width: 100%;
	padding: 8px;
}

.paymentTable th {
	background-color: gray;
	color: white;
}
.paymentTable tr {
	display: flex;
	width: 100%;
}

.paymentTable tr > * {
	flex: 1;
}

.updateDefuseTable tr{
	display:flex;
	justify-content: space-between;
}

.updateDefuseTable th{
	text-align: center;
	margin: 0 auto;
}

.updateDefuseTable td{
	color:gray;
	margin-top: 5px;
	padding: 10px;
}

.box44-1, .box44-2, .box44-3, .box44-4 {
	margin: 0 10px;
	font-size: 120%;
	color: gray;
	font-weight: bold;
	cursor: pointer;

}
.img{
	margin-top: 20px;
}
.ticket{
	color:white;
	font-size: 80%;
	border: 1px solid gray;
	border-radius: 3px;
	padding:3px;
	text-decoration-line: none;
}




.poiu {display:flex; width:100%; height:100%; flex-direction:column; z-index:3; }
.fdsa {display:flex; width:100%; }
#hahaha{display:flex; width:100%; margin-left:10px; /* flex-wrap:wrap; */}
#ssteamed { display:flex; width:200px; height:300px; margin-left:5px; margin-bottom:5px; border-radius: 20px;}
#ssteamed:hover {transform : translateY(-20px); transition-duration: 0.5s; transition-delay: 0.3s; }
#ssteamed a img {display:flex; width:200px; height:300px; border-radius: 20px;}
