@charset "UTF-8";
body {background-color:black;}

header {position:fixed; z-index:10; background-color: black; 
      display:flex;  width:100%;  height: 50px;  align-items:center; justify-content:space-between;  font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Roboto", Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;}

#rightlink{display:flex;  align-items:center; justify-content:space-between; margin-left:55px;}

#logo {display:flex; font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Roboto", Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;}
#Category {display:flex;}

#logo a{ font-weight:bold; font-size:300%;  color:red; text-decoration-line:none; font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont, "Roboto", Segoe UI, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;}
#Category a { font-weight: bold ; font-size:150%; color:white; text-decoration-line:none;}



#search { display:flex;  margin-right:55px;}

#dbg {display:flex; align-items:center; }
#dbg input{ font-size:150%; background:black; color:white; width: 300px; right: 5px; border: 1px solid gray;}
#dbg a img{  border-radius: 3px; margin-left: 5px; margin-top: 5px;}


.mypage {  border-radius: 3px; display:flex; width:40px; height:40px;   margin-bottom:5px;}

.profileclick { display:none; position:absolute; top: 52px;  width: 200px; height:150px; 
		border:1px solid white;  right:55px; text-align:center; background-color : #282828;}
      
.profileclick div a{ color:white; text-decoration-line:none; font-size:100%;}

@media (max-width: 1024px){
	
	#logo a{font-size: 100%;}
}

@media (max-width: 1024px){
	
	#Category a{font-size: 80%;}
}

@media (max-width: 1024px){
	
	.profileclick div a{font-size: 100%;}
}

@media (max-width: 1024px){
	#dbg input {font-size:100%; width: 100px;}
}